#!/usr/bin/make -f

#export DH_VERBOSE=1
export DH_OPTIONS

mu := $(CURDIR)/debian/maildir-utils
muextra := $(CURDIR)/debian/maildir-utils-extra
mu4e := $(CURDIR)/debian/mu4e


CFLAGS := -g -Wall
ifneq "$(findstring noopt,$(DEB_BUILD_OPTIONS))" ""
CFLAGS += -O0
else
CFLAGS += -O2
endif

build: build-arch build-indep
build-arch: build-stamp
build-indep: build-stamp

build-stamp:
	dh_testdir
	CFLAGS="$(CFLAGS)" ./configure --prefix=/usr
	$(MAKE)
	touch $@

clean:
	dh_testdir
	dh_testroot
	[ ! -f Makefile ] || $(MAKE) distclean
	dh_clean install-stamp build-stamp config.log

install: install-stamp

install-stamp: DH_OPTIONS=
install-stamp: build-stamp
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs
	$(MAKE) install prefix=$(mu)/usr
	# remove wrong info/dir
	rm -f $(mu)/usr/share/info/dir*
	# maildir-utils-extra package
	mkdir -p $(muextra)/usr/bin
	cp toys/mug2/mug2 $(muextra)/usr/bin/mug
	cp toys/msg2pdf/msg2pdf $(muextra)/usr/bin/msg2pdf
	mkdir -p $(muextra)/usr/share/pixmaps
	cp toys/mug2/mug.svg $(muextra)/usr/share/pixmaps/
	# mu4e package
	mkdir -p $(mu4e)/usr/share
	mv $(mu)/usr/share/emacs $(mu4e)/usr/share
	mv $(mu)/usr/share/info $(mu4e)/usr/share
	touch install-stamp

binary-indep: install
	dh_testdir
	dh_testroot
	dh_installdocs README NEWS TODO debian/README.source
	dh_installchangelogs
	dh_installemacsen
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-arch: DH_OPTIONS=-a
binary-arch: install
	dh_testdir
	dh_testroot
	dh_installdocs README NEWS TODO debian/README.source
	#dh_installchangelogs ChangeLog
	dh_installchangelogs
ifeq "$(findstring nostrip,$(DEB_BUILD_OPTIONS))" ""
	dh_strip
endif
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch

.PHONY: build clean binary-indep binary-arch binary install
