[Desktop Entry]
Version=0.9.1
Type=Application
Name=Mug
GenericName=Mail Searcher
Comment=A UI for the mu mail searcher
Exec=/usr/local/bin/mug
X-Text-Domain=mu
Terminal=false
Icon=mug
StartupWMClass=mug
MimeType=application/x-executable;
